p {
  text-align: center;
}

.card {

  &__player-name, &__name-input{
    font-size: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 100;

    margin-bottom: 10px;
    position: relative;

    &.active::after {
      content: "\2022";
      font-size: 50px;
      position: absolute;
      color: #eb4d4d;
      top: -9px;
      right: -30px;
    }
  }

  &__player-score {
    font-size: 80px;
    font-weight: 100;
    color: #eb4d4d;

    margin-bottom: 130px;
  }

  &__score-box {
    width: 120px;
    margin: 0 auto;
    padding: 12px;

    text-transform: uppercase;
    font-size: 12px;

    background-color: #eb4d4d;
  }
  &__current-score {
    color: #fff;
    font-size: 30px;
    margin-top: 10px;
  }

}
